.block{
   background-color: rgb(26, 26, 236);
    width: 99%;
    height: 400px;
    position: absolute;
    bottom: -150px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
}
.Name{
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    right: 635px;
    bottom: 275px;
}
.Name2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    right: 902px;
    bottom: 235px;
}
.text{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    right: 845px;
    bottom: 200px;
}
.text2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    right: 995px;
    bottom: 173px;
}
button{
    border: none;
    background-color: white;
    border-radius: 5px;
    width: 125px;
    height: 35px;
    position: absolute;
    bottom: 125px;
    right: 1003px;
}
img{
    position: absolute;
    bottom: 0px;
    right: 50px;
}